<section id="search" class="search-wrap">
  <h1>Find A Tech Collabo</h1>
  <form action="/gigs/search" method="GET" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
    <input type="submit" value="Search">
  </form>

</section>

<div class="landing-body">
  <div class="row landing-text-other">
    <div class="col-sm-10 col-md-4 col-lg-4 expla-cards">
      <p class="text-center"><i class="fas fa-code"></i></p>
      <p>
        Do you have a project you're working on and you need someone
        to join you on it for pair learning purposes? Or do you wish to join a developer work on
        project and get paid, partner, or learn together?, you are in the right place, This platform is for you!
      </p>
    </div>
    <div class="col-sm-10 col-md-4 col-lg-4 expla-cards">
      <p class="text-center"><i class="fas fa-cloud-upload-alt" style="color: rgb(255, 251, 6)"></i></p>
      <p>
        Upload a new collobo project by Navigating to the `Add A Collabo`
        in the top Navigations. Collabo Projects can either be Paid,
        Partnership or Negotiable. It all depends on the poster.
      </p>
    </div>
    <div class="col-sm-10 col-md-4 col-lg-4 expla-cards">
      <p class="text-center"><i class="fas fa-coins"></i></p>
      <p>
        from earning money while collaborating on a job to acheive
        great things with someone, to patnering to start up something or develop
        something, to working for free as part of your community contribution or
        your learning process. You can acheive all of them right Here!.
      </p>
    </div>
  </div>

  <div class="aim">
    <h1 class="" style="font-weight: bold; margin-bottom: 15px; margin-left: 18%;">AIM</h1>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <img src="https://res.cloudinary.com/dcft8yhab/image/upload/v1559162562/team-3373638_1280.jpg"
          style="max-width: 100%" alt="">
      </div>
      <div class="col-sm-10 col-md-8 col-lg-5" style="font-size: 20px;">
        <p>
          Our aim is to encourage collaboration in different sectors in the technology universe, including, graphic
          designing,
          UI/Ux designs, Technical writing, Web development, other programming fields. We assume that the person who
          posts the collabo project is skilled in an area and needs someone else to comlement his skills, or needs help
          to acheive the
          completion of a project within a strict time frame, or needs a partnership
          We beleive that helping others is one of the greatest things that can be and as such we encourage people to
          engage in Partnership
          projects as much as they would have the time to. We do not support or promote gender inequallity in any form,
          and as such, all collabo
          postings shouldn't be gender specific and anyone who meets the desired criteriers is free to apply for any
          collabo project.
          We beleive that together we can do the impossible.
        </p>
        <a href="#"><button class="btn" style="background-color: #071C55; ">GET STARTED</button></a>
        <a href="mailto: dandons25@gmail.com"><button class="btn" style="background-color: #071C55; ">CONTACT US</button></a>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size:22px">© 2019 Copyright
    <a href="#" style="font-weight: 400"> CollaBo</a>
  </div>
  <!-- Copyright -->

</footer>